private_config.yaml
debug_logs/*
!debug_logs/_debug_logs_go_here.txt
venv/
sites/*
!sites/example_website/
__pycache__/
tests/
.pytest_cache/
.vscode/
*.log
*.Identifier
*.csv
*.html
*.zip
*.ipynb
install.bat